body {
    background-color:rgb(240,240,240);
}
/* Banner at top of screen with name/navigation */
header {
    /* Set banner to float */
    position: fixed; 
    top: 0;
    left: 0;
    right: 0;
    /* Characterisitics */
    background-color:black;
    color:white;
    height:80px;
}
/* Code to format name at top of page */
.nameDrop {
	float: left;
	margin-left: 40px;
	margin-top: 5px;
	font-size: 2.5em;
	font-family: 'Impact','Charcoal','sans-serif';
	color: white;
}
/* Navigation menu */
.navMenu {
	font-size: 1.5em;
	font-family: 'Impact','Charcoal','sans-serif';
	margin-top: 10px;
	/* Remove bullet points */
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
/* style for links in list */
.liList {
	float: right;
}
.aNav {
	display: block;
	padding: 8px;
	color: white;
}
/* Styling for section on left */
.sectionLeft {
	margin-top: 70px;
	background-color:rgb(220,220,220);
        height:1600px;
        width: 10%;
        float:left;
        /* padding:10px; */
}
/* Styling for section on right */
.sectionRight {
	margin-top: 70px;
	background-color:rgb(220,220,220);
        height:1600px;
        width: 10%;
        float: right;
        /* padding:10px; */
        /* Set spacing between lines */
        /* line-height:15px; */
}
/* Main content */
section {
	font-family:'Helvetica', 'Arial', 'Sans-Serif';
	margin-top: 100px;
	margin-left: 5px;
	margin-right: 5px;
	width: 60%;
	float:left;
	/* padding:10px; */
	background-color:rgb(240,240,240);
	color: black;
}
/* Footer at bottom of screen */
#footer {
    /* Set footer to float */
    position: fixed; 
    bottom: 0;
    left: 0;
    right: 0;
    /* Footer aspects */
    height: 15px;
    background-color:black;
}
/* Link properties */
li {
    /* Disable bullet point preceding link */
    list-style-type:none;
}
a {
    text-decoration: none;
    color: rgb(125, 125, 125);
}
a:hover {
    /* Hovering over a link makes it underlined */
    text-decoration: underline;
}
a:visited {
    /* Disable the setting of a link to purple if previously visited */
    text-decoration: none;
    color:rgb(125,125,125);
}
/* Paragraph properties */
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: black;
}
