<!DOCTYPE html>
<html>
        <head>
        	<!-- page title -->
        	<title>{{ page.title }}</title>
                <!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
                <!--Add Highlight.js https://highlightjs.org/download/ -->
                <link rel="stylesheet" href="http://rettopnivek.github.io/highlights/styles/default.css">
                <script src="http://rettopnivek.github.io/highlights/highlight.pack.js"></script>
                <!-- Using Highight.js https://highlightjs.org/usage/-->
                <script>
                        hljs.initHighlightingOnLoad();
                </script>
        </head>
        <body>
        	<header>
        		<h1 class="nameDrop"><font color='white'>Kevin W. Potter</font></h1>
                        <div style="clear: left;"></div>
                        <ul class="navMenu">
                        	<li class="liList"><a href="/"><font color='white'>Home</a></li>
                        	<li class="liList"><a href="/cv"><font color='white'>CV</a></li>
                        	<li class="liList"><a href="/r_tips"><font color='white'>Code examples</a></li>
                        	<li class="liList"></li><a href="https://github.com/rettopnivek"><font color='white'>Github</a></li>
                        	<li class="liList"><a href="mailto:kevin.w.potter@gmail.com"><font color='white'>Contact</a>
                        </ul>
                        <div style="clear: right;"></div>
        	</header>
        	<section class="sectionLeft">
        	</section>
        	<section>
        		{{ content }}
        	</section>
        	<section class="sectionRight">
        	</section>
                <div id="footer">
                </div>
        </body>
</html>
