<!DOCTYPE html>
<html>
        <head>
                <!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
                <!--Add Highlight.js https://highlightjs.org/download/ -->
                <link rel="stylesheet" href="http://rettopnivek.github.io/highlights/styles/default.css">
                <script src="http://rettopnivek.github.io/highlights/highlight.pack.js"></script>
                <!-- Using Highight.js https://highlightjs.org/usage/-->
                <script>
                        hljs.initHighlightingOnLoad();
                </script>
        </head>
        <body>
                <div id="header">
                        <h1 class="nameDrop"><font color='white'>Kevin W. Potter</font></h1>
                        <ul>
                        	<li><a href="/">Home</a></li>
                        	<li><a href="/cv">CV</a></li>
                        	<li><a href="/r_tips">Code examples</a></li>
                        	<a href="https://github.com/rettopnivek">Github</a></li>
                        	<li><a href="mailto:kevin.w.potter@gmail.com">Contact</a>
                        </ul>
                </div>
                <div style="clear: both;"></div>
                <div id="nav">
	                <li><a href="/">Home</a></li><br>
	        	<li><a href="/cv">CV</a></li><br>
	        	<li><a href="/r_tips">Code examples</a></li>
	        </div>
                <div id="section">
                	{{ content }}
                </div>
                <div id="footer">
                </div>
        </body>
</html>
